###################################################
## init.nebula.rc file (C) 2017 By @Eliminater74 ##
##                                               ##
## Updated: 02/07/2017                           ##
##                                               ##
## Update Tweak By: @Freak07                     ##
##                                               ##
##                                               ##
## Special Settings By: @Freak07                 ##
##                                               ##
###################################################

on init
     write /dev/kmsg "[Nebula] INIT: Start init section: "

on boot
    write /dev/kmsg "[Nebula] Boot Started: "
       
on enable-low-power
    write /dev/kmsg "[Nebula] Enabled-low-power mod: "
	
    # Enable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250
	
	chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
    chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
	
   # Apply settings to LITTLE cluster
		#Temporarily change permissions to governor files for the LITTLE cluster to lower the maximum frequency to 1996MHz
		chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600	
		chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

    
    # Apply settings to Big cluster
		# Temporarily change permissions to governor files for the Big cluster to raise minimum frequency to 480MHz  
        chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
        chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 
    	
  # Graphics Settings. Make sure we start at 624mhz(Default)  
  	write /dev/kmsg "[Nebula] GPU: set default freq level of 624mhz: "	
    write /sys/class/kgsl/kgsl-3d/max_gpuclk 624000000
    write /sys/class/devfreq/b00000.qcom,kgsl-3d0/max_freq 624000000
    write /sys/class/devfreq/b00000.qcom,kgsl-3d0/min_freq 133000000
#   write /sys/class/devfreq/b00000.qcom,kgsl-3d0/
#   write /sys/class/devfreq/b00000.qcom,kgsl-3d0/

on property:sys.boot_completed=1

	
	
on property:sys.boot_completed=1
    trigger enable-low-power
    start nebula-post-boot

on property:init.svc.recovery=running
    trigger enable-low-power
    
on property:sys.perf.profile=0
    write /dev/kmsg "[Nebula] sys.perf.profile=0 "

on property:sys.perf.profile=1
     write /dev/kmsg "[Nebula] sys.perf.profile=1 "
	

on property:sys.perf.profile=2
		write /dev/kmsg "[Nebula] sys.perf.profile=2 "
	

service nebula-post-boot /system/bin/sh /system/etc/init.nebula.sh
 	  class late_start
    user root
    disabled
    oneshot
