###################################################
## init.nebula.rc file (C) 2016 By @Eliminater74 ##
##                                               ##
## Updated: 01/16/2017                           ##
##                                               ##
## Special Settings By: @Freak07                 ##
##                                               ##
###################################################

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 2-3
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3

    # Set light thermal restrictions while optimizing apps
    # [throttle_freq_LITTLE, throttle_freq_big, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/zone0 "1228800 1632000 46 44"
    write /sys/kernel/msm_thermal/zone1 "1228800 1555200 50 47"
    write /sys/kernel/msm_thermal/zone2 "1036800 1248000 55 53"
    write /sys/kernel/msm_thermal/zone3 "729600 729600 65 63"
    write /sys/kernel/msm_thermal/enabled 
    
    
on enable-low-power
    # Enable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 
    
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400

    # Configure governor settings for little cluster
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 19000
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 70
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1190400
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "85 1100000:35 1200000:49 1300000:71 1400000:95"
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 40000
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 100000
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
#    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1##

    # Online CPU2
#    write /sys/devices/system/cpu/cpu2/online 1

    # Configure governor settings for big cluster
#    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_sched_load 1
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_migration_notif 1
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/above_hispeed_delay 19000
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 70
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate 20000
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 1036800
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/io_is_busy 1
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "89 1400000:35 1600000:49 1800000:71 1900000:95"
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 40000
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/max_freq_hysteresis 100000
#    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
#    write /sys/devices/system/cpu/cpu2/cpufreq/interactive/ignore_hispeed_on_notif 1    
#    
#    # Apply settings to LITTLE cluster
		# Temporarily change permissions to governor files for the LITTLE cluster to enable Interactive governor
		chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
		chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
		#Temporarily change permissions to governor files for the LITTLE cluster to lower the maximum frequency to 1996MHz
		chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
		#Core 0 Maximum Frequency = 1996MHz	
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600	
		chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
		#Tweak Interactive Governor
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "60 460800:75 614400:77 844800:80 1132800:85 1286400:87 1440000:90 1593600:92 1824000:95 1996800:100"
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack "-1"
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 614400
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 28000
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 33000
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 99
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 40000
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 0
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 0
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows 0
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
		write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
    
    # Apply settings to Big cluster
    # Temporarily change permissions to governor files for the Big cluster to enable Interactive governor
#		chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
#		chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
		# Temporarily change permissions to governor files for the Big cluster to raise minimum frequency to 480MHz
#		chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
		# Core 2 Minimum Frequency = 480MHz
#		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 480000		
#		chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
			# Online Core 2
		write /sys/devices/system/cpu/cpu2/online 1 		
    
#    chmod 644 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
     # Core 4 Maximum Frequency = 2342MHz	
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
#    chmod 444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 
		# Set overclock max frequency compatible target_loads	
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "72 460800:65 614400:73 825600:64 979200:98 1132800:68 1286400:72 1593600:80 1824000:85 1977600:85 2150400:92 2246400:95 2342400:100"
    
    #Tweak Interactive Governor
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack "-1"
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 979200
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate 8000
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/above_hispeed_delay "20000 1344000:10000"
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 80
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 30000
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/max_freq_hysteresis 20000
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/ignore_hispeed_on_notif 0
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/boost 0
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/fast_ramp_down 0
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/align_windows 0
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_migration_notif 1
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/use_sched_load 0
		write /sys/devices/system/cpu/cpu2/cpufreq/interactive/boostpulse_duration 0
    
    #Enable Input Boost for LITTLE cluster @537MHz for 40ms
		write /sys/module/cpu_boost/parameters/input_boost_enabled 1
		write /sys/module/cpu_boost/parameters/input_boost_freq "0:537600 1:537600 2:0 3:0"
		write /sys/module/cpu_boost/parameters/boost_ms 0
		write /sys/module/cpu_boost/parameters/input_boost_ms 40
		#Disable TouchBoost
		write /sys/module/msm_performance/parameters/touchboost 0
		# Disabling BCL and Removing Perfd
		write /sys/devices/soc.0/qcom,bcl.60/mode "disable"
    
	# Tweaking HMP Scheduler for increased Big Cluster utilization
		write /proc/sys/kernel/sched_window_stats_policy 2
		write /proc/sys/kernel/sched_ravg_hist_size 5
		write /proc/sys/kernel/sched_upmigrate_min_nice 15
		write /proc/sys/kernel/sched_spill_nr_run 2
		write /proc/sys/kernel/sched_spill_load 100
		write /proc/sys/kernel/sched_downmigrate 50
		write /proc/sys/kernel/sched_upmigrate 60
		
		write /sys/devices/system/cpu/cpu0/core_ctl/disable 1
		write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 2
		write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 2
		write /sys/devices/system/cpu/cpu2/core_ctl/disable 1
		write /sys/devices/system/cpu/cpu2/core_ctl/max_cpus 2
		write /sys/devices/system/cpu/cpu02/core_ctl/min_cpus 2
		write /sys/devices/system/cpu/cpu0/online 1
		write /sys/devices/system/cpu/cpu1/online 1
		write /sys/devices/system/cpu/cpu2/online 1
		write /sys/devices/system/cpu/cpu3/online 1
    	
  # Graphics Settings. Make sure we start at 624mhz(Default)  	
    write /sys/class/kgsl/kgsl-3d/max_gpuclk 624000000
    write /sys/class/devfreq/b00000.qcom,kgsl-3d0/max_freq 624000000
    write /sys/class/devfreq/b00000.qcom,kgsl-3d0/min_freq 133000000
#    write /sys/class/devfreq/b00000.qcom,kgsl-3d0/
#    write /sys/class/devfreq/b00000.qcom,kgsl-3d0/

on property:sys.boot_completed=1

  # Input boost configuration
    write /sys/kernel/cpu_input_boost/ib_freqs "1190400 1190400"
    write /sys/kernel/cpu_input_boost/ib_duration_ms 500
    write /sys/kernel/cpu_input_boost/enabled 0
    
    # Set thermal restrictions  
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1478400 1920000 50 45"
    write /sys/kernel/msm_thermal/zone1 "1478400 1824000 53 50"
    write /sys/kernel/msm_thermal/zone2 "1401600 1824000 55 53"
    write /sys/kernel/msm_thermal/zone3 "1324800 1824000 57 55"
    write /sys/kernel/msm_thermal/zone4 "1324800 1708800 58 57"
    write /sys/kernel/msm_thermal/zone5 "1324800 1555200 59 58"
    write /sys/kernel/msm_thermal/zone6 "1324800 1324800 60 59"
    write /sys/kernel/msm_thermal/zone7 "1190400 1248000 63 60"
    write /sys/kernel/msm_thermal/zone8 "1036000 1036000 70 63"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1
    
	
on property:sys.boot_completed=1
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power
    
on property:sys.perf.profile=0
    # Set low-power performance settings
    write /sys/kernel/msm_thermal/user_maxfreq 1036800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "conservative"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "conservative"

    write /sys/class/devfreq/soc:qcom,cpubw/governor "powersave"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "powersave"

    # Set normal thermal restrictions
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 40 38"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 41 40"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 42 41"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 43 42"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 44 43"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 46 44"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 48 46"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 53 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 65 60"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1

on property:sys.perf.profile=1
	
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
#    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
    
    # Set normal performance settings
    write /sys/kernel/msm_thermal/user_maxfreq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"

    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"

    # Set normal thermal restrictions
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 40 38"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 41 40"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 42 41"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 43 42"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 44 43"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 46 44"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 48 46"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 53 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 65 60"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1

on property:sys.perf.profile=2
    # Set high performance settings
    # Keep little cluster at maxfreq
    write /sys/kernel/msm_thermal/user_maxfreq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"

    write /sys/class/devfreq/soc:qcom,cpubw/governor "performance"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"

    # Set light thermal restrictions for performance mode
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 46 44"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 47 46"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 48 47"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 49 48"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 50 49"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 52 50"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 54 52"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 59 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 1000
    write /sys/kernel/msm_thermal/enabled 1
